//
   Created by nuko on 2015. 7. 1..
extends layout

block content
    .container
        .row.grey.lighten-3
            .col.m10.offset-m1.s12
                .coinTitle.center-align
                    i.material-icons.large shopping_cart
                .row
                    .col.s12
                        .row.myCoinInfo
                            .col.s3
                                h5 내 코인
                            .col.s3
                                h5 300

                    .col.s12
                        .row
                            .input-field.col.s12
                                label 코인 상품 선택
                                br
                                br
                            .col.s12
                                table.hoverable.white
                                    tbody
                                        tr
                                            td
                                                input#google22(name='group1', type='radio')
                                            td  21코인
                                            td  3,900원
                                        tr
                                            td
                                                i.Small.material-icons power_settings_new
                                            td  61코인 10코인 더!
                                            td  9,900원
                                        tr
                                            td
                                                i.Small.material-icons perm_identity
                                            td  131코인 / 50포인트 20코인 더!
                                            td  19,900원
                                        tr
                                            td
                                                i.Small.material-icons perm_media
                                            td  271코인 / 100포인트 40코인 더!
                                            td  39,900원
                                        tr
                                            td
                                                i.Small.material-icons perm_media
                                            td  501코인 / 300포인트 70코인 더!
                                            td  69,900원
                                        tr
                                            td
                                                i.Small.material-icons perm_media
                                            td  501코인 / 300포인트 70코인 더!
                                            td  99,900원
                            .input-field.col.s12
                                label 결제 수단 선택
                                br
                                br
                            .col.s12
                                .row.white
                                    .input-field.col.m3.s6.center-align
                                        input#google(name='group1', type='radio')
                                        label(for='google') 신용카드
                                    .input-field.col.m3.s6.center-align
                                        input#customer(name='group1', type='radio')
                                        label(for='customer') 휴대폰결제
                                    .input-field.col.m3.s6.center-align
                                        input#store(name='group1', type='radio')
                                        label(for='store') 계좌이체
                                    .input-field.col.m3.s6.center-align
                                        input#other(name='group1', type='radio')
                                        label(for='other') 도서문화상품권
                                    .input-field.col.m3.s6.center-align
                                        input#other(name='group1', type='radio')
                                        label(for='other') 해피머니
                                    .input-field.col.m3.s6.center-align
                                        input#other(name='group1', type='radio')
                                        label(for='other') 문화상품권
                        .row
                            .col.m12
                                br
                                p.center-align
                                    button.btn.btn-large.waves-effect.waves-light.black(type='button', name='action') 결제하기