//
   Created by nuko on 2015. 6. 30..

extends layout

block content
    .container
        ul.collapsible.popout(data-collapsible='expandable')
            li
                .collapsible-header
                    i.material-icons filter_drama
                    | ☆문의 방법☆ 문의 전 꼭 확인해 주세요.
                .collapsible-body
                    p Lorem ipsum dolor sit amet.
            li
                .collapsible-header
                    i.material-icons place
                    | 계정이 생각나지 않습니다.
                .collapsible-body
                    p Lorem ipsum dolor sit amet.
            li
                .collapsible-header
                    i.material-icons whatshot
                    | 상품권 결제를 했는데 충전이 안됩니다.
                .collapsible-body
                    p Lorem ipsum dolor sit amet.
            li
                .collapsible-header
                    i.material-icons whatshot
                    | 성인 인증에 실패했습니다.
                .collapsible-body
                    p Lorem ipsum dolor sit amet.
            li
                .collapsible-header
                    i.material-icons whatshot
                    | 코인을 환불하고 싶어요.
                .collapsible-body
                    p Lorem ipsum dolor sit amet.
            li
                .collapsible-header
                    i.material-icons whatshot
                    | 탈퇴는 어떻게 하나요?
                .collapsible-body
                    p Lorem ipsum dolor sit amet.
            li
                .collapsible-header
                    i.material-icons whatshot
                    | 포인트는 어떻게 사용하는 거죠?
                .collapsible-body
                    p Lorem ipsum dolor sit amet.
            li
                .collapsible-header
                    i.material-icons whatshot
                    | 로그인이 되지 않아요.(페이스 북 계정)
                .collapsible-body
                    p Lorem ipsum dolor sit amet.



