extends layout

block content
    script.
        var data = !{JSON.stringify(data)};
        //alert(data.length);

        // duedate string sorting function
        function mostEarlyDuedate(string){
            // only in case that year is 2015.
            var stringArray = string.split("2015,");
            // month sort
            var mL = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
            stringArray.sort(function(a,b){
                var aMonth = a.split(' ')[1];
                var bMonth = b.split(' ')[1];
                if (aMonth == bMonth){
                    return b.split(' ')[0] - a.split(' ')[0];
                }else {
                    return mL.indexOf(bMonth) - mL.indexOf(aMonth);
                }
            });

            return stringArray[0];
        }

        // newest time sorting
        function timeSort(data){
            data.sort(function(a,b){
                return b.fileTime - a.fileTime;
            });
            return data;
        }

        // heart sorting
        function heartSort(data){
            data.sort(function(a,b){
                return b.heart - a.heart;
            });
            return data;
        }

        // duedate sorting
        function duedateSort(data){
            data.sort(function(a,b){
                var mL = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

                var aMonth = mostEarlyDuedate(a.duedate).split(' ')[1];
                var bMonth = mostEarlyDuedate(b.duedate).split(' ')[1];
                if (aMonth == bMonth){
                    return mostEarlyDuedate(b.duedate).split(' ')[0] - mostEarlyDuedate(a.duedate).split(' ')[0];
                }else {
                    return mL.indexOf(bMonth) - mL.indexOf(aMonth);
                }
            });
            return data;
        }

        var heartData = heartSort(data);
        var timeData = timeSort(data);
        var duedateData = duedateSort(data);

        var word = duedateData[0]._id;

    script.
        $(document).ready(function (){

            function alignAutoplay(divId, data){
                $(divId).find('.autoplay').map(function(e){
                    $(this).find('div a').attr("href", function(arr){
                        return "file/" + data[e].imageId[arr];
                    });
                    $(this).find('div img').attr("src", function(arr){
                        return "file/" + data[e].imageId[arr];
                    });
                });
            }

            alignAutoplay("#heartAlign", heartData);
            alignAutoplay("#newAlign", timeData);
            alignAutoplay("#timeAlign", duedateData);

            $('.autoplay').slick({
                dots: false,
                infinite : true,
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                arrows: false,
            });

            // carousel hover effect
            $('.autoplay').mouseenter(function(){
               //$('.autoplay').slick('slickPause');
               $(this).slick('slickPause');
            }).mouseleave(function(){
               $('.autoplay').slick('slickPlay');
            });

            // preloadDiv init
            function preloadDivShow(){
                $('.preloadDiv').show();
                setTimeout(function(){
                    $('.preloadDiv').hide();
                },2500);
                $('.tabItem').css('z-index', 0);
            }
            preloadDivShow();

            // tab change preloader
            $('.tab a').click(function(){
                preloadDivShow();
            });
        });
    .container
        .row.promo
            .col.s6
                .video-container.no-controls
                    iframe(width='853', height='480', src='//www.youtube.com/embed/Q8TXgCzxEnw?rel=0;autohide=1', frameborder='0', allowfullscreen='')
            .col.s6
                h5 Pliky에 처음 오셨나요?
                p 간단한 소개 영상으로 이용 방법을 알아보세요!
                - var word = word;
                script.
                    var word = "aaaa";
                p #{word}
        .divider
        .row
            .col.s12
                ul.tabs
                    li.tab.col.s3
                        a(href='#heartAlign') 인기순
                    li.tab.col.s3
                        a(href='#newAlign') 신규등록순
                    li.tab.col.s3
                        a(href='#timeAlign') 마감임박순
            .tabItem#heartAlign
                mixin preload
                    .preloadDiv
                        .preloadCircle
                            .preloader-wrapper.big.active
                                .spinner-layer.spinner-blue-only
                                    .circle-clipper.left
                                        .circle
                                    .gap-patch
                                        .circle
                                    .circle-clipper.right
                                        .circle
                +preload
                .row
                    .col.s4
                        .outer
                            .autoplay#gacha
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/" , width='650')
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/", width ='650')
                            mixin profileInfo(id)
                                .profileInfo.black-text.grey.lighten-3
                                    img(src="images/profile_siro.jpg" alt="" class="circle" height='30px')
                                    .infoText.grey-text.text-darken-1
                                        a.blue-text.text-darken-1(href="#") 유유
                                    a.right.blue-text.text-darken-1(href='/cs') more
                                    .infoText.right.grey-text.text-darken-1
                                        i.fa.fa-eye
                                        div(id=id)(style='display:inline;')
                                            span 120
                                        i.fa.fa-heartbeat
                                        span 44
                            +profileInfo('commitInfo1')

                    .col.s4
                        .outer
                            .autoplay
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/" , width='650')
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/", width ='650')
                            +profileInfo('commitInfo2')
                    .col.s4
                        .outer
                            .autoplay
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/" , width='650')
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/", width ='650')
                            +profileInfo('commitInfo3')
                .row
                    .col.s4
                        .outer
                            .autoplay
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/" , width='650')
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/", width ='650')
                            +profileInfo('commitInfo4')
                    .col.s4
                        .outer
                            .autoplay
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/" , width='650')
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/", width ='650')
                            +profileInfo('commitInfo5')
                    .col.s4
                        .outer
                            .autoplay
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/" , width='650')
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/", width ='650')
                            +profileInfo('commitInfo6')
                .row
                    .col.s4
                        .outer
                            .autoplay
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/" , width='650')
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/", width ='650')
                            +profileInfo('commitInfo7')
                    .col.s4
                        .outer
                            .autoplay
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/" , width='650')
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/", width ='650')
                            +profileInfo('commitInfo8')
                    .col.s4
                        .outer
                            .autoplay
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/" , width='650')
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/", width ='650')
                            +profileInfo('commitInfo9')
            .tabItem#newAlign
                +preload
                .row
                    .col.s4
                        .outer
                            .autoplay
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/" , width='650')
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/", width ='650')
                            +profileInfo
                    .col.s4
                        .outer
                            .autoplay
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/" , width='650')
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/", width ='650')
                            +profileInfo
                    .col.s4
                        .outer
                            .autoplay
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/" , width='650')
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/", width ='650')
                            +profileInfo
                .row
                    .col.s4
                        .outer
                            .autoplay
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/" , width='650')
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/", width ='650')
                            +profileInfo
                    .col.s4
                        .outer
                            .autoplay
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/" , width='650')
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/", width ='650')
                            +profileInfo
                    .col.s4
                        .outer
                            .autoplay
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/" , width='650')
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/", width ='650')
                            +profileInfo
                .row
                    .col.s4
                        .outer
                            .autoplay
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/" , width='650')
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/", width ='650')
                            +profileInfo
                    .col.s4
                        .outer
                            .autoplay
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/" , width='650')
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/", width ='650')
                            +profileInfo
                    .col.s4
                        .outer
                            .autoplay
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/" , width='650')
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/", width ='650')
                            +profileInfo
            .tabItem#timeAlign
                +preload
                .row
                    .col.s4
                        .outer
                            .autoplay
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/" , width='650')
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/", width ='650')
                            +profileInfo
                    .col.s4
                        .outer
                            .autoplay
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/" , width='650')
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/", width ='650')
                            +profileInfo
                    .col.s4
                        .outer
                            .autoplay
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/" , width='650')
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/", width ='650')
                            +profileInfo
                .row
                    .col.s4
                        .outer
                            .autoplay
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/" , width='650')
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/", width ='650')
                            +profileInfo
                    .col.s4
                        .outer
                            .autoplay
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/" , width='650')
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/", width ='650')
                            +profileInfo
                    .col.s4
                        .outer
                            .autoplay
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/" , width='650')
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/", width ='650')
                            +profileInfo
                .row
                    .col.s4
                        .outer
                            .autoplay
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/" , width='650')
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/", width ='650')
                            +profileInfo
                    .col.s4
                        .outer
                            .autoplay
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/" , width='650')
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/", width ='650')
                            +profileInfo
                    .col.s4
                        .outer
                            .autoplay
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/" , width='650')
                                div
                                    a(href="file/", data-lightbox="image-1")
                                        img(src="file/", width ='650')
                            +profileInfo
    script(src="js/bundle.js")