extends layout

block content
	script.
		$(document).ready(function(){
			$('.slider').slider({indicators: false, interval:99999});
			$('.slider').on('mouseenter', function(e){
				$('.slider').slider({indicators: false, interval:2000});
			});
			$('.slider').on('mouseleave', function(e){
				$('.slider').slider({indicators: false, interval:99999});
			});
		});
	.container
		.row.promo
			.col.s6
				.video-container.no-controls
					iframe(width='853', height='480', src='//www.youtube.com/embed/Q8TXgCzxEnw?rel=0;autohide=1', frameborder='0', allowfullscreen='')
			.col.s6
				h5 Pliky에 처음 오셨나요?
				p 간단한 소개 영상으로 이용 방법을 알아보세요!
		.divider
		nav
			.nav-wrapper.white
				ul#nav-mobile.right.hide-on-med-and-down
					li
						a(href='components.html').black-text 마감임박순
					li
						a(href='components.html').black-text 인기순
					li
						a(href='javascript.html').black-text 신규등록순

		mixin profile
			.col.s2
				img.circle.responsive-img(src='images/face.jpg', alt='')
			.col.s2
				p.black-text myname
			.col.s6.offset-s2
				.row.thumbInfo
					.col.s2
						i.small.mdi-action-visibility
					.col.s2
						p 33
					.col.s2
						i.small.mdi-action-favorite-outline
					.col.s2
						p 33
					.col.s2
						i.small.mdi-action-question-answer
					.col.s2
						p 33

		mixin thumbnail
			.row
				.col.s12
					.thumbDiv
						.slider
							ul.slides
								li
									img(src='http://lorempixel.com/580/250/nature/1')
								li
									img(src='http://lorempixel.com/580/250/nature/2')
								li
									img(src='http://lorempixel.com/580/250/nature/3')
								li
									img(src='http://lorempixel.com/580/250/nature/4')										
			.row.profileInfo
				+profile

		mixin list
			.row
				.col.s4
					+thumbnail
				.col.s4
					+thumbnail
				.col.s4
					+thumbnail
		+list
		+list
		+list

