extends layout

block content
    script.
        var data = !{JSON.stringify(data)};
    .container
        .row.promo
            .col.s6
                .video-container.no-controls
                    iframe(width='853', height='480', src='//www.youtube.com/embed/Q8TXgCzxEnw?rel=0;autohide=1', frameborder='0', allowfullscreen='')
            .col.s6
                h5 Pliky에 처음 오셨나요?
                p 간단한 소개 영상으로 이용 방법을 알아보세요!
        .divider
        .row
            .col.s12
                ul.tabs
                    li.tab.col.s3
                        a(href='#heartAlign') 인기순
                    li.tab.col.s3
                        a(href='#newAlign') 신규등록순
                    li.tab.col.s3
                        a(href='#dueAlign') 마감임박순
            .tabItem#heartAlign
                mixin preload
                    .preloadDiv
                        .preloadCircle
                            .preloader-wrapper.big.active
                                .spinner-layer.spinner-blue-only
                                    .circle-clipper.left
                                        .circle
                                    .gap-patch
                                        .circle
                                    .circle-clipper.right
                                        .circle
                +preload
                .row
                    .col.s4
                        mixin mainBox(id)
                            .outer(id=id)
                        +mainBox('heartCommit1')
                    .col.s4
                        +mainBox('heartCommit2')
                    .col.s4
                        +mainBox('heartCommit3')
                .row
                    .col.s4
                        +mainBox('heartCommit4')
                    .col.s4
                        +mainBox('heartCommit5')
                    .col.s4
                        +mainBox('heartCommit6')
                .row
                    .col.s4
                        +mainBox('heartCommit7')
                    .col.s4
                        +mainBox('heartCommit8')
                    .col.s4
                        +mainBox('heartCommit9')
            .tabItem#newAlign
                +preload
                .row
                    .col.s4
                        +mainBox('newCommit1')
                    .col.s4
                        +mainBox('newCommit2')
                    .col.s4
                        +mainBox('newCommit3')
                .row
                    .col.s4
                        +mainBox('newCommit4')
                    .col.s4
                        +mainBox('newCommit5')
                    .col.s4
                        +mainBox('newCommit6')
                .row
                    .col.s4
                        +mainBox('newCommit7')
                    .col.s4
                        +mainBox('newCommit8')
                    .col.s4
                        +mainBox('newCommit9')
            .tabItem#dueAlign
                +preload
                .row
                    .col.s4
                        +mainBox('dueCommit1')
                    .col.s4
                        +mainBox('dueCommit2')
                    .col.s4
                        +mainBox('dueCommit3')
                .row
                    .col.s4
                        +mainBox('dueCommit4')
                    .col.s4
                        +mainBox('dueCommit5')
                    .col.s4
                        +mainBox('dueCommit6')
                .row
                    .col.s4
                        +mainBox('dueCommit7')
                    .col.s4
                        +mainBox('dueCommit8')
                    .col.s4
                        +mainBox('dueCommit9')
    script(src="js/indexReact.js")
    script.
        $(document).ready(function (){
            // preloadDiv init
            function preloadDivShow(){
                $('.preloadDiv').show();
                setTimeout(function(){
                    $('.preloadDiv').hide();
                },2500);
                $('.tabItem').css('z-index', 0);
            }
            preloadDivShow();

            // tab change preloader
            $('.tab a').click(function(){
                preloadDivShow();
            });
        });