doctype html
html
    head
        title plicy
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/lightbox.css')
        //link(rel='stylesheet', href='/stylesheets/materialize.css')
        link(href='http://theeluwin.github.io/NotoSansKR-Hestia/stylesheets/NotoSansKR-Hestia.css' rel='stylesheet' type='text/css')
        link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css")
        script(src='//code.jquery.com/jquery-1.11.3.min.js')
        script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
        script(type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.min.js")
        script(src="/js/lightbox.js")
        //script(src="/js/materialize.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js")
    body
        nav
            .nav-wrapper.grey.darken-4
                a.brand-logo(href='/') Pliky
                ul#nav-mobile.right.hide-on-med-and-down
                    li
                        a(href='/tutorial') 이용 방법
                    li
                        a(href='/signin') 로그인
                    li
                        a(href='/signup') 회원가입
                    li
                        a(href='/enrollment') 등록하기
                    li
                        form
                            .input-field
                                input#search(type='search', required='')
                                label(for='search')
                                    i.mdi-action-search
                                i.mdi-navigation-close
        block content
