//
   Created by nuko on 2015. 6. 30..

extends layout

block content
    script.
        $(document).ready(function(){
            var active = #{active};
            $('.tabs').tabs('select_tab', 'test'+active);
            $('.commitHistory').slick({
                dots : false,
                infinite: true,
                slidesToShow: 35,
                slidesToScroll: 1,
                accessibility : true
            });
            $('.modal-trigger').leanModal();
            $('select').material_select();
        });
    .container
        .row
            .col.s12
                .row.upperDiv
                    .col.m4
                        .profileDivDiv.grey.darken-4.center-align.z-depth-2
                            // userInfo component
                    .col.m8
                        .profileNoticeDiv.z-depth-1
                            // recentAct component
                .row.downDiv
                    .col.s12
                        // recentHistory component
                        .divider
                        ul.tabs
                            li.tab.col.s3
                                a(href='#test1') 외주작업
                            li.tab.col.s3
                                a(href='#test2') 끄적끄적
                            li.tab.col.s3
                                a(href='#test3') 낙서
                        #test1.col.s12
                            .row
                                .col.s12.m12.l12.portfolio-holder
                                    // change materialboxed to lightbox2
                                    img.materialboxed(src='http://labs.qnimate.com/portfolio-materialize/images/project.png')
                                    img.materialboxed(src='http://labs.qnimate.com/portfolio-materialize/images/project.png')
                                    img.materialboxed(src='http://labs.qnimate.com/portfolio-materialize/images/project.png')
                                    img.materialboxed(src='http://labs.qnimate.com/portfolio-materialize/images/project.png')
                                    img.materialboxed(src='http://labs.qnimate.com/portfolio-materialize/images/project.png')
                                    img.materialboxed(src='http://labs.qnimate.com/portfolio-materialize/images/project.png')
                                .col.s12.right-align.portfolio-more
                        #test2.col.s12
                            .row
                                .col.s12.m12.l12.portfolio-holder
                                    img.materialboxed(src='http://labs.qnimate.com/portfolio-materialize/images/project.png')
                                    img.materialboxed(src='http://labs.qnimate.com/portfolio-materialize/images/project.png')
                                    img.materialboxed(src='http://labs.qnimate.com/portfolio-materialize/images/project.png')
                                    img.materialboxed(src='http://labs.qnimate.com/portfolio-materialize/images/project.png')
                                    img.materialboxed(src='http://labs.qnimate.com/portfolio-materialize/images/project.png')
                                    img.materialboxed(src='http://labs.qnimate.com/portfolio-materialize/images/project.png')
                                .col.s12.right-align.portfolio-more
                                    a(href='#')
                                        span 더보기
                        #test3.col.s12
                            .row
                                .col.s12.m12.l12.portfolio-holder
                                    img.materialboxed(src='http://labs.qnimate.com/portfolio-materialize/images/project.png')
                                    img.materialboxed(src='http://labs.qnimate.com/portfolio-materialize/images/project.png')
                                    img.materialboxed(src='http://labs.qnimate.com/portfolio-materialize/images/project.png')
                                    img.materialboxed(src='http://labs.qnimate.com/portfolio-materialize/images/project.png')
                                    img.materialboxed(src='http://labs.qnimate.com/portfolio-materialize/images/project.png')
                                    img.materialboxed(src='http://labs.qnimate.com/portfolio-materialize/images/project.png')
                                .col.s12.right-align.portfolio-more
                                    a(href='#')
                                        span 더보기
    #uploadImage.modal
        .modal-content.row
            .input-field.col.s5
                select
                    option(value='', disabled='', selected='') 그룹 선택
                    option(value='1') 외주 작업
                    option(value='2') 끄적끄적
                    option(value='3') 낙서
                    option(value='4') 미분류
                label 그룹 선택
            .file-field.input-field.col.s7
                .btn.grey.darken-4
                    span 파일 선택
                    input(type='file', multiple)
                .file-path-wrapper
                    input.file-path(type='text')
            .input-field.col.s12
                textarea#textarea1.materialize-textarea
                label(for='textarea1') 설명
        .modal-footer
            a.modal-action.modal-close.waves-effect.waves-green.btn.grey(href='#!') 업로드
    .footer.grey.darken-4
        .center-align
            a.modal-trigger(href='#uploadImage')
                h5.white-text 그림 등록하기
    script(src="/js/mypageReact.js")