//
   Created by nuko on 2015. 6. 26..
extends layout
block content
    script.
        $(document).ready(function(){
            $("form").submit(function (e) {
                if ($('input[name="email"]').val() == '' || $('input[name="password"]').val() == ''){
                    e.preventDefault();
                }
            });
            var state = !{JSON.stringify(state)};
            if (state !=''){
                alert(state);
            }
        });
    .container
        .row
            .col.s12.m8.offset-m2.l6.offset-l3.z-depth-1
                .row.signDiv
                    .col.s4.logos.black
                        p.white-text 5초만에 로그인
                        a.social-button(href="#",class='facebook')
                            i.fa(class="fa-" + 'facebook')
                        a.social-button(href="#",class='twitter')
                            i.fa(class="fa-" + 'twitter')
                        a.social-button(href="#",class='google')
                            i.fa(class="fa-" + 'google')
                    .col.s8.signInput
                        form(action="/signin", method="post")
                            .row
                                .input-field.col.s12
                                    input#email.validate(type='email' name='email')
                                    label(for='email') Email
                            .row
                                .input-field.col.s12
                                    input#password.validate(type='password' name='password')
                                    label(for='password') Password
                            .row(style='visibility: hidden;')
                                .input-field.col.s12
                                    input#passwordAgain.validate(type='password')
                                    label(for='passwordAgain') Password(again)
                            button.btn.waves-effect.waves-light.right.black.signButton(type='submit', name='action') 로그인
                    .signUpQuestion.right
                        p
                            a(href='/signin') 내 이메일 찾기
                            a(href='/signin') 내 비밀번호 찾기