
body{
	font-family: 'Noto Sans KR', sans-serif;
}
.brand-logo{
	margin-left: 30px;
}
.promo{
	margin-top: 10px;
}
.thumbDiv{
	position: relative;
	width: 100%;
	height: 200px;
	overflow: hidden;
}
.thumbDiv img {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	height: auto;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.thumbInfo{
	padding-right: 15px;
}
.profileInfo img{
	margin: 10px;
}
.modalItem img{
	width : 100%;
}

.autoplay{
	/*position: fixed;*/
	/*top: 0;*/
	/*left: 0;*/
	/*height: 100%;*/
	/*width:100%;*/
	/*overflow: hidden;*/
	width: 100%;
	/*text-align: center;*/
	/*overflow: hidden;*/
}

.autoplay div{
	position: relative;
	width: 100%;
	height: 200px;
	overflow: hidden;
}
.autoplay img{
	position: absolute;
	left: 50%;
	top: 50%;
	height: auto;
	width: 100%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.tabs{
	z-index: 10;
}

.tabItem{
	position: relative;
}

.preloadDiv{
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: white;
	position: absolute;
	top: 48px;
}

.preloadCircle{
	position: absolute;
	top : 100px;
	left: 45%;
}
